body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    
    
}
.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  transform: translateY(100%);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  transform-origin: bottom;
  position: relative;
}
.loader::before {
  background: radial-gradient(at 30% 30%,#0000,#000a) blue;
  transform: scaleY(0.65);
  top: 0;
  animation: l11-1, l11-2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0,400,1,400),ease;
  animation-iteration-count: infinite;
}
.loader::after {
  background: #ccc;
  filter: blur(8px);
  transform: scaleY(0.3) translate(0px,0px);
  left: 0;
  animation: l11-3 2s cubic-bezier(0,400,1,400) infinite;
}
@keyframes l11-1 {
  100% {top:-0.2px}
}
@keyframes l11-2 {
  4%,96% {transform: scaleY(1)}
}
@keyframes l11-3 {
  100% {transform: scaleY(0.3) translate(0.1px,-0.1px)}
}